
@{
  ViewBag.Title = "About DataDock";
}


<div class="ui container">
  <h2 class="ui header">@ViewBag.Title</h2>
  <div class="ui hidden divider"></div>
</div>

<div class="ui container">
  <h3>What is DataDock?</h3>

  <p>DataDock is an online service which creates navigable data portals for individuals and organisations to publish open data free of charge.</p>
  
  <p>The code that powers DataDock is open source and available on GitHub at <a href="https://github.com/DataDock/datadock" target="_blank" title="DataDock on GitHub">https://github.com/DataDock/datadock</a></p>

  <h3>What's a data portal?</h3>

  <p>A data portal is a place where you make your data available to other people via the web as "open data".</p>

  <h3>What makes DataDock different from other data publishing offerings?</h3>

  <h4>DataDock is free <b>and</b> open-source</h4>
  <p>No software licensing fee, no hosting costs as you can use our hosted version, and if you want to run your own, separate data portal using DataDock code then you can find our <a href="https://github.com/DataDock/datadock" title="DataDock on GitHub" target="_blank"></a>source code on GitHub.</p>

  <h4>DataDock creates <i>navigable</i> data portals</h4>
  <p>Many data publishing solutions are basically catalogs of datasets with links to download the full, original data file. DataDock provides this type of cataloging, but also creates mini "websites" for every dataset you publish. This means that each record in your data will have its own page, allowing users to navigate around the data inside your dataset, as well as the option to download the full data file if they want to.</p>

  <h3>Will it always be free?</h3>

  <p>Yes.</p>

  <h3>Can I request features?</h3>

  <p>Of course! DataDock is an open-source community project and we're always happy to hear more ideas and requests. Add a new issue to our <a href="https://github.com/DataDock/datadock/issues" title="DataDock on GitHub">issue list</a> with any feature requests. If you are a developer you can make contributions to the source code too.</p>

  <h3>Community Release</h3>

  <p>As of May 2018, DataDock has been refactored from it's Preview Release code to .NET Core and has been made publicly available as an open-source project. We look forward to growing the DataDock community of data publishers, consumers and developers who believe that we should work together to bring down the technical and finanicial barriers to publishing standards-compliant high quality open data on the web.</p>
  
  <h3>Who are the people behind DataDock?</h3>

  <p>The DataDock lead developers are <a href="https://twitter.com/digidatajen" target="_blank" title="Jen Williams on Twitter">Jen Williams</a> and <a href="https://twitter.com/kal_ahmed" title="Kal Ahmed on Twitter" target="_blank">Kal Ahmed</a>, who have many years of experience building Semantic Web data management solutions and modules. We believe that publishing open data should be as easy and as cheap as possible, while still adhering to web standards to improve the interoperability of raw data at a base level. </p>

  <p>Kal Ahmed is also responsible for .NET open source products such as <a href="http://brightstardb.com/" title="open source .NET RDF triple store">BrightstarDB</a> and <a href="https://dotnetrdf.codeplex.com/" title="open source .NET library for working with RDF">DotNetRDF</a> which are definitely worth checking out if you are interested in things like triples, SPARQL queries, easy to use triple storage managers and working with RDF in .NET.</p>


</div>
