
@{
  ViewBag.Title = "Account Deleted";
}
<div class="ui container">

  <h2 class="ui header">@ViewBag.Title</h2>
  <div class="ui info message"><i class="info icon"></i> Your DataDock account has been successfully deleted.</div>

  <p>
    If you wish to delete any generated data files or HTML pages you must do this by logging in to your github account at <a href="http://github.com" target="_blank" title="GitHub">github.com</a>. You may also wish to remove DataDock from the list of <a href="https://github.com/settings/applications" target="_blank">authorized applications</a> within your github account.
  </p>
  <p>If you wish to sign up to DataDock again in the future you can simply repeat the sign up process to start afresh with a blank DataDock account.</p>

</div>
