
@{
    ViewBag.Title = "DataDock Features";
}


<div class="ui container">
    <h2 class="ui header">@ViewBag.Title</h2>
    <div class="ui hidden divider"></div>
</div>

<div class="ui container">
    <div class="ui list">
        
        <div class="item">
            <i class="star outline icon"></i>
            <div class="content">
                <div class="header">Free Account</div>
                <div class="description">DataDock accounts are free of charge.</div>
            </div>
        </div>

        <div class="item">
            <i class="star outline icon"></i>
            <div class="content">
                <div class="header">Unlimited Datasets</div>
                <div class="description">Publish unlimited datasets as open data.</div>
            </div>
        </div>
        
        <div class="item">
            <i class="star outline icon"></i>
            <div class="content">
                <div class="header">Add Dataset Information</div>
                <div class="description">Also known as "metadata" - add titles, descriptions, and keywords to your published datasets to make them easier for others to find and reuse.</div>
            </div>
        </div>
        
        <div class="item">
            <i class="star outline icon"></i>
            <div class="content">
                <div class="header">Publish to group repositories</div>
                <div class="description">Using the <a href="https://github.com/blog/674-introducing-organizations" title="About GitHub organizations">organization support</a> in GitHub, DataDock publishers can now push their data to repositories owned by a group rather than an individual user.</div>
            </div>
        </div>
        
        <div class="item">
            <i class="star outline icon"></i>
            <div class="content">
                <div class="header">Search For Published Data</div>
                <div class="description">Search other people's datasets by the keywords used by other data publishers.</div>
            </div>
        </div>

        <div class="item">
            <i class="star outline icon"></i>
            <div class="content">
                <div class="header">Open Licenses</div>
                <div class="description">Every dataset is published with a license to make it officially licensed open data.</div>
            </div>
        </div>
        
        <div class="item">
            <i class="star outline icon"></i>
            <div class="content">
                <div class="header">Data Downloads</div>
                <div class="description">Anyone can download your published datasets as complete CSV data files.</div>
            </div>
        </div>
        
        <div class="item">
            <i class="star outline icon"></i>
            <div class="content">
                <div class="header">Vocabulary Terms</div>
                <div class="description">Dive into the advanced settings to set the vocabulary terms describing the data in your datasets, enabling better collaboration between people publishing similar data.</div>
            </div>
        </div>

        <div class="item">
            <i class="star outline icon"></i>
            <div class="content">
                <div class="header">Web of Data Integration</div>
                <div class="description">Your DataDock portal consists of pages for each of the records in your datasets, this means every record is now addressable and live on the Web of Data. <br />
                    This allows for advanced interlinking of data from different sources - and achieving <a href="http://5stardata.info/en/#by-example" target="_blank" title="levels of open data">4 star open data</a>, link your data to others to achieve the full 5 stars! </div>
            </div>
        </div>

    </div>
</div>

<div class="ui container">
    <div class="ui hidden divider"></div>
    <h2 class="ui header">Coming soon</h2>
  <p><b>DataDock is free and open-source.</b> Here's the list of features we're working on (in no particular order), add your requests or upvote those you see here on the <a href="https://github.com/DataDock/datadock/issues" title="DataDock on GitHub">DataDock community GitHub</a>.</p>
    <div class="ui hidden divider"></div>
</div>


<div class="ui container">
    <div class="ui list">

        <div class="item">
            <i class="star outline icon"></i>
            <div class="content">
                <div class="header">Follow Other Data Publishers</div>
                <div class="description">Follow other users to get updates when they publish new datasets or change the data in their published datasets.</div>
            </div>
        </div>

        <div class="item">
            <i class="star outline icon"></i>
            <div class="content">
                <div class="header">Favourite Datasets</div>
                <div class="description">Mark datasets as favourites to easily find them again, see how many people have favourited a dataset to get a sense of how well used it is.</div>
            </div>
        </div>
        
        <div class="item">
            <i class="star outline icon"></i>
            <div class="content">
                <div class="header">Stats</div>
                <div class="description">See how many times your data has been viewed or downloaded.</div>
            </div>
        </div>
        
        <div class="item">
            <i class="star outline icon"></i>
            <div class="content">
                <div class="header">Saved Vocabularies</div>
                <div class="description">Create your own custom vocabularies and make them available to others, for ease of reuse by yourself and others publishing data.</div>
            </div>
        </div>

        <div class="item">
            <i class="star outline icon"></i>
            <div class="content">
                <div class="header">Visualisations</div>
                <div class="description">Use maps and charts to visualise your data.</div>
            </div>
        </div>
        
        <div class="item">
            <i class="star outline icon"></i>
            <div class="content">
                <div class="header">Data access</div>
                <div class="description">Queries and APIs to access your datasets and the data inside them.</div>
            </div>
        </div>
        
        <div class="item">
            <i class="star outline icon"></i>
            <div class="content">
                <div class="header">Theming</div>
                <div class="description">Customise the content and theme of your data portal public landing page.</div>
            </div>
        </div>
    </div>
</div>



<div class="ui container">
    <div class="ui hidden divider"></div>
    <p>For more information have a look through our <a href="http://datadock.github.io/docs/user-guide/" title="DataDock User Guide">User Guide</a>, or to quickly get going with DataDock read <a href="http://datadock.github.io/docs/getting-started/" title="DataDock Getting Started">Getting Started</a>.</p>
    <div class="ui hidden divider"></div>
</div>