
@{
    ViewBag.Title = "DataDock Privacy Statement";
}

<div class="ui container">
    <h3>Privacy</h3>
    <p>
        We will never sell your private data or information. We do not give out private information to organisations that may sell it. We do disclose a limited amount of user information
        to providers that we use in order to run this service. Those third-party organisations include Google Mail for any communication with us and Microsoft Azure for hosting. In addition
        you will be required to have an account with GitHub to use this service. Each of these third-party organisations have their own privacy policies.
    </p>
 
</div>
