
@{
    ViewBag.Title = ":-(";
}
<div class="ui container">

  <h2 class="ui header">@ViewBag.Title</h2>
  <div class="ui info message"><i class="info icon"></i> Sign Up Cancelled.</div>

  <p>
    You may also wish to remove DataDock from the list of <a href="https://github.com/settings/applications" target="_blank">authorized applications</a> within your github account.
  </p>

</div>
