
@{
    ViewBag.Title = "DataDock Terms & Conditions";
}


<div class="ui container">
    <h2 class="ui header">@ViewBag.Title</h2>
    <div class="ui hidden divider"></div>
</div>

<div class="ui container">
    <h3>Privacy</h3>
    <p>
        We will never sell your private data or information. We do not give out private information to organisations that may sell it. 
        You will be required to have an account with GitHub to use this service. GitHub has their own privacy policies.
    </p>

    <h3></h3>

    <h3>GitHub</h3>
    <p>
        Our service accesses your GitHub account to determine which repositories you have access to and to retrieve your user name and email address. This information is stored within
        our service only for the purpose of providing you with the service. Our service also has read/write access to your public GitHub repositories. It will only write to the
        repository or repositories that you specify in your account settings on this service.
    </p>
    <p>
        When you sign up for this service you are explicitly allowing the service to access your public repositories on Github.
        Revoking this access is easy, just click the revoke button any time through your GitHub application settings page.
        Revoking access to your GitHub account will stop the service from having access to your GitHub repositories and you will no longer
        be able to use the service to create or update datasets.
    </p>

    <h3>Your Data</h3>
    <p>
        All of your data is stored in the GitHub repository or repositories you have specified in your user account settings. The contents of these repositories
        are cloned to our servers when the service is required to create or update a dataset, but this clone is deleted once the update process is deleted.
        Your content, including the RDF and HTML pages created by the service are served from your GitHub repository. We store a record of the metadata
        associated with each of the datasets that you upload. This metadata is used to provide search functionality for all users of the site. When you
        delete your account, all of this metadata is also deleted.
    </p>
    <p>
        You remain responsible for any content that you upload to this service. We do not in anyway review or censor content that is uploaded to the service.
        You should be aware that any content you upload may be made available publicly. It may be indexed by search engines and as a result it may remain
        publicly availabe even after you delete it from this service and from your GitHub account.
    </p>

    <h3>Your Responsibilities</h3>
    <p>You MUST NOT upload any personally identifiable data, nor will we tolerate the uploading of copyright-infringing content. User accounts that fail to respect this policy will be suspended. </p>

    <h3>Cancelling</h3>
    <p>
        If you would like to delete your account, click the Delete link on your account settings page. Deleting your account will delete all account information we hold
        about you and the metadata records for all of the datasets you have created using this service.
    </p>

    <h3>Feedback</h3>
    <p>If you have any questions about or feedback on these terms please raise them on the <a href="https://github.com/DataDock/datadock/issues" title="DataDock on GitHub">DataDock issue list</a>.</p>

    <h3>Disclaimer</h3>
    <p>
        THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
        FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
        LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
        IN THE SOFTWARE.
    </p>    
</div>
