@{
  ViewBag.Title = "DataDock";
}

<div class="ui container">
  <div class="ui hidden divider"></div>
  <h2 class="ui centered header">Admin Management</h2>
 
  <ul>
    <li><a href="/manage/seedDatasets">Seed Datasets</a></li>
    <li><a href="/manage/seedTemplates">Seed Templates</a></li>
  </ul>

</div>
